@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="containerHalf left">
        <div class="content">
            <h1 class="logo">QuikPic</h1>
            <p class="tagline">Quick and simple photo editing — directly in your web browser</p>
        </div>
    </div>
    <div class="containerHalf right">
        <div class="photoUpload">
            Click to select an image
        </div>
    </div>
</div>
