@using QuikPic.Web.Errors
@{
    ViewData["Title"] = "Home Page";
    Error? error = ViewData["Error"] is not null ? (Error)ViewData["Error"] : null;
}

<div class="container">
    <div class="containerHalf left">
        <div class="content">
            <h1 class="logo">QuikPic</h1>
            <p class="tagline">Quick and simple photo editing — directly in your web browser</p>
        </div>
    </div>

    @if(error is not null)
    {
        <span class="errorMessage">@error.ErrorMessage</span>
    }

    <div class="containerHalf right">
        @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @id="uploadForm", style="width: 60%;height: 70vh;" }))
        {
            <div id="photoUpload">
                Click to select an image
            </div>
            <input type="file" id="fileInput" name="file" accept="image/*" style="display:none" />
        }
    </div>
</div>

<script>
    const uploadDiv = document.getElementById("photoUpload");
    const fileInput = document.getElementById("fileInput");
    const form = document.getElementById("uploadForm");

    uploadDiv.addEventListener("click", () => {
        fileInput.click();
    });

    fileInput.addEventListener("change", () => {
        if (fileInput.files.length > 0) {
            form.submit();
        }
    });
</script>
