@{
    var filePath = "/uploads/" + ViewData["fileGuid"];
}

<div class="container">
    <div class="addPresetForm">
        <div class="addPresetFormBackground">
            <div class="addPresetFormHolder">
                @using (Html.BeginForm("EditPhoto", "Edit", FormMethod.Post, new { 
                    @id = "uploadForm", 
                    style = "display: flex; flex-direction: column; justify-content: center; padding: 5%; gap: 2vh;" 
                }))
                {
                    <div style="display: flex; justify-content: space-between; margin: 0% 10% 0% 10%;">
                        <h1>Add preset</h1>
                        <h1 class="closeAddPresetForm">x</h1>
                    </div>

                    <input type="text" name="Name" id="Name" class="presetNameInput" placeholder="Preset name" />

                    <div class="slidersPresetsHolder">
                        <div class="sliderPresetHolder">
                            <label id="brightnessPresetLabel">Brightness: 1.0</label>
                            <input type="range" min="0" max="2" value="1" step="0.01" name="Brightness" id="BrightnessPreset" disabled />
                        </div>

                        <div class="sliderPresetHolder">
                            <label id="contrastPresetLabel">Contrast: 1.0</label>
                            <input type="range" min="0" max="2" value="1" step="0.01" name="Contrast" id="ContrastPreset" disabled />
                        </div>

                        <div class="sliderPresetHolder">
                            <label id="saturationPresetLabel">Saturation: 1.0</label>
                            <input type="range" min="0" max="2" value="1" step="0.01" name="Saturation" id="SaturationPreset" disabled />
                        </div>

                        <div class="sliderPresetHolder">
                            <label id="grayscalePresetLabel">Grayscale: 0.0</label>
                            <input type="range" min="0" max="1" value="0" step="0.01" name="Grayscale" id="GrayscalePreset" disabled />
                        </div>

                        <div class="sliderPresetHolder">
                            <label id="temperaturePresetLabel">Temperature: 0.0</label>
                            <input type="range" min="-1" max="1" value="0" step="0.01" name="Temperature" id="TemperaturePreset" disabled />
                        </div>

                        <div class="sliderPresetHolder">
                            <label id="tintPresetLabel">Tint: 0.0</label>
                            <input type="range" min="-1" max="1" value="0" step="0.01" name="Tint" id="TintPreset" disabled />
                        </div>

                        <div class="sliderPresetHolder">
                            <label id="grainPresetLabel">Grain: 0.0</label>
                            <input type="range" min="0" max="3" value="0" step="0.01" name="Grain" id="GrainPreset" disabled />
                        </div>

                        <div class="sliderPresetHolder">
                            <label id="vignettePresetLabel">Vignette: 0.0</label>
                            <input type="range" min="0" max="2" value="0" step="0.01" name="Vignette" id="VignettePreset" disabled />
                        </div>
                    </div>
                    <input type="submit" class="slidersAddButton" value="Add preset" />
                }            
            </div>
        </div>
    </div>

    <div class="presetsHolder">
        <button class="presetButton">Presets</button>

        <div class="menuShadow"></div>

        <div class="presetMenu">
            <div class="presetMenuCloseButton">x</div>
            <div class="presetsList">
                <button class="addNewPreset">
                    + Add new preset
                </button>
            </div>
        </div>
    </div>
    <div class="photoContainer">
        <img id="photoUpload" src="@filePath" />
    </div>

    <div class="slidersContainer">
        @using (Html.BeginForm("", "", FormMethod.Post, new { 
            @id = "uploadForm", 
            style = "width: 100%; display: flex; justify-content: center; align-items: center;" 
        }))
        {
            <div class="slidersHolder">

                <div class="sliderHolder">
                    <label id="brightnessLabel">Brightness: 1.0</label>
                    <input type="range" min="0" max="2" value="1" step="0.01" name="Brightness" id="Brightness" />
                </div>

                <div class="sliderHolder">
                    <label id="contrastLabel">Contrast: 1.0</label>
                    <input type="range" min="0" max="2" value="1" step="0.01" name="Contrast" id="Contrast" />
                </div>

                <div class="sliderHolder">
                    <label id="saturationLabel">Saturation: 1.0</label>
                    <input type="range" min="0" max="2" value="1" step="0.01" name="Saturation" id="Saturation" />
                </div>

                <div class="sliderHolder">
                    <label id="grayscaleLabel">Grayscale: 0.0</label>
                    <input type="range" min="0" max="1" value="0" step="0.01" name="Grayscale" id="Grayscale" />
                </div>

                <div class="sliderHolder">
                    <label id="temperatureLabel">Temperature: 0.0</label>
                    <input type="range" min="-1" max="1" value="0" step="0.01" name="Temperature" id="Temperature" />
                </div>

                <div class="sliderHolder">
                    <label id="tintLabel">Tint: 0.0</label>
                    <input type="range" min="-1" max="1" value="0" step="0.01" name="Tint" id="Tint" />
                </div>

                <div class="sliderHolder">
                    <label id="grainLabel">Grain: 0.0</label>
                    <input type="range" min="0" max="3" value="0" step="0.01" name="Grain" id="Grain" />
                </div>

                <div class="sliderHolder">
                    <label id="vignetteLabel">Vignette: 0.0</label>
                    <input type="range" min="0" max="2" value="0" step="0.01" name="Vignette" id="Vignette" />
                </div>

                <input type="text" readonly id="fileName" name="fileName" value="@filePath" hidden />
                <input type="submit" class="downloadButton" value="Download">
            </div>
        }
    </div>
</div>

<script>
    const photo = document.getElementById('photoUpload');
    const filePath = "@filePath";

    const sliders = {
        brightness: document.getElementById('Brightness'),
        contrast: document.getElementById('Contrast'),
        saturation: document.getElementById('Saturation'),
        grayscale: document.getElementById('Grayscale'),
        temperature: document.getElementById('Temperature'),
        tint: document.getElementById('Tint'),
        vignette: document.getElementById('Vignette'),
        grain: document.getElementById('Grain')
    };

    const connection = new signalR.HubConnectionBuilder()
        .withUrl('/ImageHub')
        .build();

    connection.on("ImageUpdated", (url) => {
        document.getElementById('photoUpload').src = `${url}?t=${new Date().getTime()}`;
    });

    connection.on("ImageError", (message) => {
        console.log("Processing error: " + message);
    });

    async function startSignalRConnection() {
        try {
            await connection.start();
        } catch (err) {
            setTimeout(startSignalRConnection, 5000);
        }
    }

    function updateLabels() {
        for (const [key, slider] of Object.entries(sliders)) {
            const label = document.getElementById(`${key}Label`);
            if (label) 
                label.innerText = `${key.charAt(0).toUpperCase() + key.slice(1)}: ${slider.value}`;
        }       
    }

    async function updateFilter() {
        const request = {
            Brightness: parseFloat(sliders.brightness.value),
            Contrast: parseFloat(sliders.contrast.value),
            Saturation: parseFloat(sliders.saturation.value),
            Grayscale: parseFloat(sliders.grayscale.value),
            Temperature: parseFloat(sliders.temperature.value),
            Tint: parseFloat(sliders.tint.value),
            Vignette: parseFloat(sliders.vignette.value),
            Grain: parseFloat(sliders.grain.value)
        };

        updateLabels();

        await connection.invoke("ApplyFiltersToImage", request, filePath);
    }

    // Add change listeners
    Object.values(sliders).forEach(slider => {
        slider.addEventListener('change', () => {
            updateFilter();
        });
    });

    Object.values(sliders).forEach(slider => {
        slider.addEventListener('input', () => {
            updateLabels();
        });
    });

    document.getElementById('uploadForm').addEventListener('submit', (e) => {
        console.log(sliders);
    });

    startSignalRConnection();
    updateFilter();
</script>

<script>
    function openPresetMenu() {
        document.getElementsByClassName("menuShadow")[0].style = "visibility: visible";
        document.getElementsByClassName("presetMenu")[0].style = "visibility: visible";
    }

    function closePresetMenu() {
        document.getElementsByClassName("menuShadow")[0].style = "visibility: collapse";
        document.getElementsByClassName("presetMenu")[0].style = "visibility: collapse";
    }

    document.getElementsByClassName("presetButton")[0].addEventListener('click', (e) => {
        openPresetMenu();
    });

    document.getElementsByClassName("menuShadow")[0].addEventListener('click', (e) => {
        closePresetMenu();
    });

    document.getElementsByClassName("presetMenuCloseButton")[0].addEventListener('click', (e) => {
        closePresetMenu();
    });
</script>

<script>
    function closeAddPresetForm() {
        document.getElementsByClassName("addPresetForm")[0].style = "visibility: collapse;";
    }

    function setPresetSliders()
    {
        for (const [key, slider] of Object.entries(sliders)) {
            let sliderNameCapitalised = String(slider.name).charAt(0).toUpperCase() + String(slider.name).slice(1);
            document.getElementById(`${key}PresetLabel`).innerText = `${sliderNameCapitalised}: ${slider.value}`;
            document.getElementById(`${sliderNameCapitalised}Preset`).value = slider.value;
        }       
    }

    function openAddPresetForm () {
        document.getElementsByClassName("addPresetForm")[0].style = "visibility: visible;";
    }

    document.getElementsByClassName("closeAddPresetForm")[0].addEventListener('click', (e) => {
        closeAddPresetForm();
    });

    document.getElementsByClassName("addNewPreset")[0].addEventListener('click', (e) => {
        closePresetMenu();
        setPresetSliders();
        openAddPresetForm();
    });
</script>