@{
    var filePath = "/uploads/" + ViewData["fileGuid"];
}

<div class="container">
    <div class="photoContainer">
        <div id="photoUpload" style="background-image: url('@filePath');">

        </div>
    </div>
    <div class="slidersContainer">
        @using (Html.BeginForm("EditPhoto", "Edit", FormMethod.Post, new { 
            @id = "uploadForm", 
            style = "width: 100%; display: flex; justify-content: center; align-items: center;" 
        }))
        {
            <div class="slidersHolder">
                <div class="sliderHolder">
                    <label id="brightnessLabel" for="">Brightness: 1.0</label>
                    <input type="range" min="0" max="1" value="1" step="0.01" name="Brightness" id="Brightness" />
                </div>
                <div class="sliderHolder">
                    <label id="grayscaleLabel" for="">Grayscale: 0.0</label>
                    <input type="range" min="0" max="1" value="0" step="0.01" name="Grayscale" id="Grayscale" />
                </div>
                <div class="sliderHolder">
                    <label id="contrastLabel" for="">Contrast: 1.0</label>
                    <input type="range" min="0" max="2" value="1" step="0.01" name="Contrast" id="Contrast" />
                </div>
                <div class="sliderHolder">
                    <label id="saturationLabel" for="">Saturation: 1.0</label>
                    <input type="range" min="0" max="2" value="1" step="0.01" name="Saturation" id="Saturation" />
                </div>

                <input type="text" readonly name="fileName" id="fileName" value="@filePath" style="display: none;" />
                <input type="submit" class="downloadButton" value="Download">
            </div>
        }
    </div>
</div>

<script>
    const photo = document.getElementById('photoUpload');
    const filePath = "@filePath";

    const sliders = {
        brightness: document.getElementById('Brightness'),
        grayscale: document.getElementById('Grayscale'),
        contrast: document.getElementById('Contrast'),
        saturation: document.getElementById('Saturation')
    };

    const connection = new signalR.HubConnectionBuilder()
        .withUrl('/ImageHub')
        .build();

    connection.on("ImageUpdated", (url) => {
        document.getElementById('photoUpload').style = `background-image: url('${url}?t=${new Date().getTime()}')`;
        console.log("Image updated");
    });

    connection.on("ImageError", (message) => {
        console.log("SignalR Error: " + message);
    });

    async function startSignalRConnection()
    {
        try {
            await connection.start();
            console.log("SignalR connected!");
            connectionStarted = true;
        } catch (err) {
            console.error("Connection failed, retrying in 5s", err);
            setTimeout(startConnection, 5000);
        }        
    }

    async function updateFilter() {
        const b = sliders.brightness.value;
        const g = sliders.grayscale.value;
        const c = sliders.contrast.value;
        const s = sliders.saturation.value;

        document.getElementById('brightnessLabel').innerText = "Brightness: " + b;
        document.getElementById('grayscaleLabel').innerText = "Grayscale: " + g;
        document.getElementById('contrastLabel').innerText = "Contrast: " + c;
        document.getElementById('saturationLabel').innerText = "Saturation: " + s;  

        const request = {
            Grayscale: parseFloat(g),
            Contrast: parseFloat(c),
            Brightness: parseFloat(b),
            Saturation: parseFloat(s)
        };

        await connection.invoke("ApplyFiltersToImage", request, filePath);
    }

    Object.values(sliders).forEach(slider => {
        slider.addEventListener('change', () => {
            updateFilter();
        });
    });

    startSignalRConnection();
</script>
