@{
    var filePath = "/uploads/" + ViewData["fileGuid"];
}

<div class="container">
    <div class="photoContainer">
        <div id="photoUpload" style="background-image: url('@filePath');">

        </div>
    </div>
    <div class="slidersContainer">
        <div class="slidersHolder">
            <div class="sliderHolder">
               <label for="">Brightness</label>
               <input type="range" min="0" max="1" value="1" step="0.01" />
            </div>
            <div class="sliderHolder">
                <label for="">Grayscale</label>
                <input type="range" min="0" max="1" value="0" step="0.01" />
            </div>
            <div class="sliderHolder">
                <label for="">Contrast</label>
                <input type="range" min="-10" max="10" value="0" step="0.01" />
            </div>
            <div class="sliderHolder">
                <label for="">Saturation</label>
                <input type="range" min="-10" max="10" value="0" step="0.01" />
            </div>

            <button class="downloadButton">Download</button>
        </div>
    </div>
</div>
