.container {
    width: 100%;
    height: 100vh;
    background-color: #CBDCEB;
}

.photoContainer {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slidersContainer {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slidersHolder {
    width: 90%;
    height: 10vh;
    border-radius: 15px;
    background: linear-gradient(145deg, #d9ebfb, #b7c6d4);
    box-shadow:  20px 20px 0px #b7c6d4,
                -20px -20px 0px #dff2ff;    

    justify-content: center;
    align-items: center;

    display: flex;
    gap: 2vh;
}

.sliderHolder {
    display: flex;
    align-items: center;
    gap: 0.7vh;
}

#photoUpload {
    height: 60vh;
    font-weight: bold;
    border-radius: 15px;
    background: linear-gradient(145deg, #d9ebfb, #b7c6d4);
    box-shadow:  20px 20px 0px #b7c6d4,
                -20px -20px 0px #dff2ff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 8%;
}

.downloadButton {
    background-color: #b7c6d4;
    border-radius: 15px;
    padding: 0.8% 1.5% 0.8% 1.5%;
    border: none;
    background: linear-gradient(145deg, #d9ebfb, #b7c6d4);
    box-shadow: 5px 5px 5px #b7c6d4, -2px -2px 0px #dff2ff;
}