<div class="container">
    <div class="photoContainer">
        <div id="photoUpload">

        </div>
    </div>
    <div class="slidersContainer">
        <div class="slidersHolder">
            
        </div>
    </div>
</div>
